<h2>Available Items </h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Item Type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of _menuItemService.menuItems">
                <td>{{item.itemCode}}</td>
                <td>{{item.itemName}}</td>
                <td>{{item.price}}</td>
                <td>{{item.itemType}}</td>
            </tr>
        </tbody>


    </table>
</div>
